 * {
     margin:0;
     padding:0;
     zoom:1;
    }/* *表示全局声明div的边框外部和元素距离为0。 */
body{
    /* background: url(pitures/image.jpg); */
   
	color: #333;
	background-size: 1900px 1600px;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 16px;
}

 header{
	width: 100%; 
	position:fixed; 
	height: 40px;
	background-color: #fff;
    padding-top: 10px;
    z-index: 1999;
     border-bottom:1px  hsla(15, 100%, 40%, 0.5) solid;
    /*opacity: 0.8;*/
}

 .top{
	margin-top: 0px;
	margin-right: 100px;
	float: right;
	display: block;
	height: 50px;
	 z-index: 999;

}  

 .top li{
    display: inline-block;
    padding-top: 5px;
	padding: auto;
	line-height: 30px;
  text-align: center;
	
	
} 
.top a{
	font-size: 20px;
	text-decoration: none;
	list-style: none;
	color: #000;
	text-align: center;
	height: 30px;
	width: 100px;
	border-left: 1px hsla(0, 0%, 20%, 0.5) solid;
	padding:0 15px;
}

.top li:nth-child(1) a{
	border-left: none;
}
.top li:hover a{
	color: #c30;
	

}
.top li:first-child a{
	color: #c30;
	
}
.top li:first-child {
	border-bottom: 1px #c30 solid;
}
	


.top li:hover {
	border-bottom: 1px #c30 solid;
}



 .wrapper {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%,0.4);
    position: relative;
    float: right;
   right: 40px;
   top: 100px;
}
.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute; 

    animation: circle 4s infinite;
}
@keyframes circle {
    0% {
        box-shadow: 0 0 14px 14px hsla(0, 100%, 50%, 0.4);
    }
    50% {
        box-shadow: 0 0 12px 10px hsla(0, 100%, 50%, 0.4);
    }
    100% {
        box-shadow: 0 0 10px 8px hsla(0, 100%, 50%, 0.4);
    }
}

h2{
	color: hsla(0, 100%, 50%, 0.4);
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 180px;
}
h2{
	  transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
}
.circle:hover h2{
	 transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}


			
 .fly {
		position: absolute;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-linear;
		-webkit-animation-duration:10s; 
		animation-delay: 2s;
		-webkit-animation-name: butterfly;
}

.fly { 

	 height: 36px; 
	  right: 150px;
	  top: 180px;
	
	}
			

@-webkit-keyframes butterfly {
	0%		{ -webkit-transform: rotateY(0deg)   translate(0px,0px);; }
	20%		{ -webkit-transform: rotateY(80deg) scale(1.4) translate(200px,0px);}
	40%		{ -webkit-transform: rotateY(130deg) scale(1.5) translate(240px,0px); }
	50%		{ -webkit-transform: rotateY(180deg) scale(1.6) translate(240px,0px);}
	60%		{ -webkit-transform: rotateY(210deg) scale(3) translate(400px,0px); }
	80%		{ -webkit-transform: rotateY(270deg) scale(5) translate(100px,0px); }
	90%	{ -webkit-transform: rotateY(360deg) scale(3) translate(0px,0px);}
			}
.c_5{
	position: absolute;
    margin-top: 180px;
    margin-left: 40px;
}
.c_6,.c_7,.c_8,.c_9{
	
	position: absolute;
	width: 120px;
	height:120px;
	color: #c30;
	display: inline-block;
	padding: 20px;
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 50%;
    text-align: center;
    
    
}

.up_2,.c_6,.c_7,.c_8,.c_9{
	position: absolute;
	width: 190px;
	height:210px;
	color: #c30;
	display: inline-block;
	padding: 20px;
    background:url(pitures/框.png);
  
    text-align: center;
    
    

}

.c_5:hover .up_2{
	
	font-weight: 600;
	color: hsla(15, 100%, 40%, 0.5);
}
.c_6 a,.c_7 a,.c_8 a,.c_9 a,.up_2 a{
	float: left;
    display: inline-block;
    margin: auto 0;
    margin-top: 40px;
    font-size: 20px;
   width: 120px;
    font-weight:600;
}

.c_6,.c_7,.c_8,.c_9{
	 
	 transition:all 2s ease-in-out;
    -webkit-transition:all 2s ease-in-out;
    -moz-transition:all 2s ease-in-out;
    -o-transition:all 2s ease-in-out;
}
.c_5:hover .c_6{
	transform: translateX(150px) ;
	transform:  translateX(150px);
	 -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
    -ms-transform: translateX(150px);
}
.c_5:hover .c_7{
	transform: translate(290px);
	transform:  translate(290px);
	 -webkit-transform: translate(290px);
    -moz-transform: translate(290px);
    -o-transform: translate(290px);
    -ms-transform: translate(290px);
}
.c_5:hover .c_8{
	transform: translate(430px);
	transform:  translate(430px);
	 -webkit-transform: translate(430px);
    -moz-transform: translate(430px);
    -o-transform: translate(430px);
    -ms-transform: translate(430px);
}
.c_5:hover .c_9{
	transform: translate(570px);
	transform:  translate(570px);
	 -webkit-transform: translate(570px);
    -moz-transform: translate(570px);
    -o-transform: translate(570px);
    -ms-transform: translate(570px);
}
h1{
	position: absolute;
	width: 500px;
	text-align: center;
	top: 110px;
	left: 70px;
	color: #c30;
	font-size: 60px;
    border-bottom: 1px #fff solid;
}

.word{
	position: absolute;
    top: 280px;
	
	color: hsla(0, 0%, 20%,0.6);
	font-size: 20px;
	width: 50%;
	text-align: center;
}

.c{

    position: relative;
    top: 360px;
	color: hsla(0, 0%, 20%,0.6);
	font-size: 20px;
	width: 50%;
	left: 100px;
	

}
.c1{
	
	
	width: 120px;
	height:120px;
	
	margin-right:100px;
	display: inline-block;
	color: #fff;
	padding: 20px;
    background-color: orange;
	margin-top: -40px;
	margin-bottom: 70px;
    border-radius: 50%;
    text-align: center;
    
}
.c1 a{
	float: left;
    display: inline-block;
    margin: auto 0;
    margin-top: 20px;
   width: 120px;

	

}
.c1:hover{
	transform:  scale(1.2);
	
}
.c1:hover a{
	transform:  scale(1.2);
    
}

.c_2{
     margin-left: 900px;
}
.c2,.c3,.c4,.c5,.on,.up{
	
	position: absolute;
	width: 120px;
	height:120px;
	color: #fff;
	display: inline-block;
	padding: 20px;
    background-color: rgb(146, 80, 113);
    border-radius: 50%;
    text-align: center;
    
    
}
.c2 a,.c3 a,.c4 a,.c5 a,.on a,.up a{
	float: left;
    display: inline-block;
    margin: auto 0;
    margin-top: 40px;
    font-size: 20px;
   width: 120px;

}
.on{
	
    background-color: hsla(0, 0%, 0%, 0.2);
  
}


.c2,.c3,.c4,.c5{
	 
	 transition:all 2s ease-in-out;
    -webkit-transition:all 2s ease-in-out;
    -moz-transition:all 2s ease-in-out;
    -o-transition:all 2s ease-in-out;
}
.c_2:hover .c2{
	transform: rotate(90deg) translate(180px);
	 -webkit-transform:rotate(90deg) translate(180px);
    -moz-transform:rotate(90deg) translate(180px);
    -o-transform:rotate(90deg) translate(180px);
    -ms-transform:rotate(90deg) translate(180px);
   
}
.c_2:hover .c3{
	transform: rotate(180deg) translate(180px);
	 -webkit-transform:rotate(180deg) translate(180px);
    -moz-transform:rotate(180deg) translate(180px);
    -o-transform:rotate(180deg) translate(180px);
    -ms-transform:rotate(180deg) translate(180px);
   
}
.c_2:hover .c4{
	transform: rotate(270deg) translate(180px);
	 -webkit-transform:rotate(270deg) translate(180px);
    -moz-transform:rotate(270deg) translate(180px);
    -o-transform:rotate(270deg) translate(180px);
    -ms-transform:rotate(270deg) translate(180px);
   
}
.c_2:hover .c5{
	transform: rotate(360deg) translate(180px);
	 -webkit-transform:rotate(360deg) translate(180px);
    -moz-transform:rotate(360deg) translate(180px);
    -o-transform:rotate(360deg) translate(180px);
    -ms-transform:rotate(360deg) translate(180px);
   
}
.c_2:hover .up{
      display: none;

}
 .c2 a{
	transform: rotate(-90deg);
	 -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    margin-bottom: -35px;
}
 .c3 a{
	transform: rotate(-180deg);
	 -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
}
 .c4 a{
	transform: rotate(-270deg);
	 -webkit-transform:rotate(-270deg);
    -moz-transform:rotate(-270deg);
    -o-transform:rotate(-270deg);
    -ms-transform:rotate(-270deg);
}

.pp{
	width: 50%;
	margin-left: 90px;
	position: absolute;
	bottom: 30px;
	
}
.piture{
	
	width: 25%;
	float: left;
	margin-bottom: 15px;
	height:120px;
	margin-right:50px;
	display: inline-block;
	color: #fff;
	padding: 20px;
    text-align: center;
    
}
.piture:hover ,.on:hover{
	transform: scale(1.1);
}
.p2{
	font-size: 14px;
	color: hsla(323, 25%, 42%, 1);
	font-weight: 600;
}

.c_3{
   position: relative;
   margin-right: 90px;
  float: right;
  text-align: center;
}


.c_4{
	width: 70px;
	height:70px;
	display: inline-block;
	color: #fff;
	padding: 20px;
    background-color: #039;
	margin-top: 140px;
	margin-left: 40px;
    border-radius: 50%;
    text-align: center;
    
}
.c_4 a{
	
    float: right;
    margin-left: 40px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;


}

h3{
    position: absolute;
	margin-top: 300px;
	font-size: 24px;
	margin-left: 270px;
}
form{
	position: absolute;
	margin-top: 380px;
	margin-left: 180px;
    text-align: center;
}
#latName{
	font-size: 28px;
	margin-bottom: 30px;
}

textarea{
 	font-size: 28px;
 	width: 420px;
 	height: 100px;
 
 }
 #massage p{
	font-size: 22px;
	font-weight: 600;
	margin-top: -10px;

}
.button{
	background-color: hsla(0, 0%, 0%, 0.3);
	width: 70px;
	height: 40px;
	text-align: center;
	margin-top: -25px;
	color: #fff;
}
.button:hover{
	color: rgb(0, 0, 153);

}

footer{
	position: absolute;
	background-color: hsla(0, 0%, 20%, 0.7);
	width: 100%;
	height: 90px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.footer-1{
	text-align: center;
	margin-top: 30px;
}
.footer-1 li{
    border-right: 1px hsla(0, 0%, 100%, 0.4) solid;
	display: inline-block;
	list-style: none;

}
.footer-1 li{
    border-right: none;
	display: inline-block;
	list-style: none;

}
.footer-1 a{
	font-size: 12px;
	text-decoration: none;
	padding-right: 3px;
	color: hsla(0, 0%, 100%, 0.4);

}
.footer-1 li:hover a{
	color: #fff;

}
.footer-2{
	text-align: center;
	font-size: 12px;
	color: hsla(0, 0%, 100%, 0.4);

}